$font-family-h1: 'Helvetica', 'sans-serif';
$font-family-h3: 'Helvetica', 'sans-serif';
$font-family-h6: 'Helvetica', 'sans-serif';
$font-family-h2: 'Helvetica', 'sans-serif';
$font-family-h4: 'Helvetica', 'sans-serif';
$font-family-body: 'Helvetica', 'sans-serif';
$font-family-h5: 'Helvetica', 'sans-serif';
